<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="display-2 my-5 text-upperca fix-bold">Bienvenido que deseas hacer?</h1>

    <div class="container p-4">
            <div>
                <div class="card text-center p-2 bd-highlight m-3">
                    <a href="/anadir" class="btn btn-success">Añadir una foto</a>
                    </div>
                </div>
            <div>
                <div class="card text-center p-2 bd-highlight m-3">
                    <a href="/fotos" class="btn btn-primary">Ver las fotos</a>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>
</html>